@charset "UTF-8";
.wrap {
  max-width: 1920px;
  margin: 0 auto;
  /*在 小於 1366px 時變更樣式*/
  /*在 小於 1024px 時變更樣式*/
  /*在 小於 768px 時變更樣式*/
  /*在 小於 414px 時變更樣式*/
}
@media (max-width: 1366px) {
  .wrap {
    max-width: 1365px;
    padding: 0;
  }
}
@media (max-width: 1024px) {
  .wrap {
    max-width: 1023px;
  }
}
@media (max-width: 768px) {
  .wrap {
    max-width: 768px;
  }
}
@media (max-width: 414px) {
  .wrap {
    max-width: 375px;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  background: #ba000d;
  position: static;
}
.header h2 a {
  display: block;
  background-image: url("../img/title_Log_01.png");
  background-repeat: no-repeat;
  width: 906px;
  height: 170px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 45px;
  /*在 小於 1024px 時變更樣式*/
  /*在 小於 768px 時變更樣式*/
  /*在 小於 414px 時變更樣式*/
}
@media (max-width: 1024px) {
  .header h2 a {
    background-image: url("../img/title_Log_01@300.png");
    margin-top: 5%;
    max-width: 268px;
    height: 100px;
  }
}
@media (max-width: 768px) {
  .header h2 a {
    background-image: url("../img/title_Log_01@300.png");
    margin-top: 5%;
    width: 268px;
    height: 100px;
  }
}
@media (max-width: 414px) {
  .header h2 a {
    background-image: url("../img/title_Log_01@200.png");
    margin-top: 5%;
    margin-left: 5px;
    width: 100px;
    height: 50px;
  }
}
.header .link {
  display: flex;
  align-items: center;
  position: relative;
}
@media (max-width: 414px) {
  .header .link .contactBtn {
    display: none;
  }
  .header .link .fa-envelope {
    display: block;
  }
}
.header .link ul {
  display: none;
}
.header .link li {
  margin-right: 50px;
}
.header .link li a {
  display: block;
  padding: 20px;
  font-size: 25px;
  color: #000;
  text-decoration: none;
}
@media (max-width: 414px) {
  .header .link li a {
    font-size: 12px;
  }
}
.header .link li a:hover {
  color: #FFFF;
  text-decoration: underline;
}
@media (max-width: 1366px) {
  .header .link li {
    margin: 0;
  }
}
.header .link .menuBtn-open {
  position: absolute;
  background-color: rgba(247, 245, 245, 0.9);
  top: 100px;
  right: 50px;
  z-index: 100;
  padding: 50px;
}
@media (max-width: 414px) {
  .header .link .menuBtn-open {
    padding: 0px;
    top: 50px;
    right: 40px;
  }
}
.header .link .menuBtn-open p {
  font-size: 21px;
  margin: 5px;
  color: #747474;
}
@media (max-width: 768px) {
  .header .link .menuBtn-open p {
    font-size: 15px;
  }
}
@media (max-width: 414px) {
  .header .link .menuBtn-open p {
    font-size: 10px;
  }
}
.header .link .menuBtn-open a {
  font-size: 35px;
  text-decoration: none;
  display: block;
  padding: 10px;
}
@media (max-width: 768px) {
  .header .link .menuBtn-open a {
    font-size: 20px;
  }
}
@media (max-width: 414px) {
  .header .link .menuBtn-open a {
    font-size: 15px;
    padding: 5px;
  }
}
.header .link .menuBtn-open a:hover {
  background: gray;
  color: #38033f;
}
.header .link .menuBtn-open .siteMap a {
  font-size: 21px;
}
@media (max-width: 414px) {
  .header .link .menuBtn-open .siteMap a {
    font-size: 10px;
  }
}
.header .serch-Txt {
  font-size: 25px;
}
@media (max-width: 768px) {
  .header .serch-Txt {
    font-size: 15px;
  }
}
@media (max-width: 414px) {
  .header .serch-Txt {
    font-size: 10px;
  }
}
.header .fa-envelope {
  display: none;
}

.banner .swiper-container {
  max-width: 100%;
  /*在 小於 1366px 時變更樣式*/
}
@media (max-width: 1366px) {
  .banner .swiper-container {
    width: 100%;
  }
  .banner .swiper-container img {
    width: 100%;
  }
}

.mainMenu li {
  display: flex;
  justify-content: space-around;
  margin: 96px 50px 0px 50px;
}
@media (max-width: 1366px) {
  .mainMenu li {
    justify-content: start;
    margin-left: 3%;
  }
}
@media (max-width: 768px) {
  .mainMenu li {
    margin-top: 5%;
  }
}
@media (max-width: 414px) {
  .mainMenu li {
    flex-wrap: wrap;
    margin: 5px;
  }
}
.mainMenu li a {
  display: block;
  color: #000;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 1%;
}
@media (max-width: 1366px) {
  .mainMenu li a {
    font-size: 21px;
  }
}
@media (max-width: 1024px) {
  .mainMenu li a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .mainMenu li a {
    font-size: 12px;
  }
}
@media (max-width: 414px) {
  .mainMenu li a {
    margin: 5px;
  }
}
.mainMenu li a:hover {
  text-decoration: underline;
}

.contentTitle {
  display: block;
  background: #dad7d7;
  font-size: 40px;
  margin: 10px;
  padding: 10px;
}
.contentTitle .fa-play {
  font-size: 20px;
  color: red;
}

.sitemapContent_menu li {
  margin-top: 15px;
}
.sitemapContent_menu li a {
  display: block;
  text-decoration: none;
  color: #000;
  background: #fff6f6;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}
.sitemapContent_menu li a:hover {
  color: gray;
}

.footer {
  background: #ba000d;
  margin-top: 50px;
}
.footer h2 {
  padding-top: 68px;
  font-size: 73px;
  color: #ffff;
  text-align: center;
  padding-left: 50px;
}
@media (max-width: 768px) {
  .footer h2 {
    font-size: 50px;
    padding-top: 10px;
  }
}
@media (max-width: 414px) {
  .footer h2 {
    font-size: 30px;
  }
}
.footer .footer_main {
  color: #ffff;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .footer .footer_main {
    font-size: 20px;
    margin-top: 10px;
  }
}
@media (max-width: 414px) {
  .footer .footer_main {
    text-align: left;
    margin-left: 10px;
  }
}
.footer .footer_contact {
  display: block;
  background: #ffff;
  font-size: 30px;
  width: 242px;
  height: 44px;
  color: #ba000d;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
  padding-top: 22px;
}
@media (max-width: 768px) {
  .footer .footer_contact {
    font-size: 20px;
    width: 150px;
    height: 25px;
    padding-top: 0px;
  }
}
@media (max-width: 414px) {
  .footer .footer_contact {
    margin: 0 auto;
  }
}
.footer .footer_logo {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
@media (max-width: 414px) {
  .footer .footer_logo {
    flex-direction: column;
    margin-top: 10px;
  }
}
.footer .footer_logo .footer_logo1 {
  background: url(../img/logo_1.png);
  width: 189px;
  height: 96px;
}
@media (max-width: 1024px) {
  .footer .footer_logo .footer_logo1 {
    margin-left: 20px;
  }
}
@media (max-width: 414px) {
  .footer .footer_logo .footer_logo1 {
    margin: 0 auto;
  }
}
.footer .footer_logo .footer_logo_main1 {
  text-align: left;
  color: #ffff;
  margin: 15px 120px 0px;
  font-size: 16px;
}
.footer .footer_logo .footer_logo_main2 {
  text-align: left;
  color: #ffff;
  margin-left: 73px;
  font-size: 20px;
}
.footer .footer_logo .footer_logo2 {
  background: url(../img/logo_2.png);
  width: 250px;
  height: 96px;
}
@media (max-width: 1024px) {
  .footer .footer_logo .footer_logo2 {
    margin-right: 20px;
  }
}
@media (max-width: 414px) {
  .footer .footer_logo .footer_logo2 {
    margin: 0 auto;
    margin-top: 10px;
  }
}