.wrap{
    max-width: 1920px;
    margin: 0 auto;
/*在 小於 1366px 時變更樣式*/
@media(max-width:1366px){
    max-width: 1365px;
    padding: 0;
  }
  /*在 小於 1024px 時變更樣式*/
@media(max-width:1024px){
    max-width: 1023px;
  }
/*在 小於 768px 時變更樣式*/
@media(max-width:768px){
  max-width: 768px;
  }
/*在 小於 414px 時變更樣式*/
@media(max-width:414px){
    max-width: 375px;
    margin: 0 auto;
  }
}
.header{
    display: flex;
    justify-content:space-between;
    background: #ba000d;
    position: static;///絕對定位
    h2{
        a{
            display: block;
            background-image: url('../img/title_Log_01.png');
            background-repeat: no-repeat;
            width: 906px;
            height: 170px;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
            margin-left: 45px;
            /*在 小於 1024px 時變更樣式*/
            @media(max-width:1024px){
                background-image: url('../img/title_Log_01@300.png');
                margin-top: 5%;
                max-width: 268px;
                height: 100px;
            }            
            /*在 小於 768px 時變更樣式*/
            @media(max-width:768px){
                background-image: url('../img/title_Log_01@300.png');
                margin-top: 5%;
                width: 268px;
                height: 100px;
            }
             /*在 小於 414px 時變更樣式*/
             @media(max-width:414px){
                background-image: url('../img/title_Log_01@200.png');
                margin-top: 5%;
                margin-left: 5px;
                width: 100px;
                height: 50px;
            }           
        }
    }   
    .link {
        display:flex;
        align-items: center;
        position: relative;
        @media(max-width:414px){
            .contactBtn{
              display: none;
            }
            .fa-envelope{
              display: block;
            }
          }
        ul{
            display: none;
        }
        li{
            margin-right: 50px;
            a{
                display:block;
                padding: 20px;
                font-size: 25px;
                color: #000;
                text-decoration:none;
                @media(max-width:414px){
                    font-size: 12px;                    
                  }
                &:hover{
                    color: #FFFF;
                    text-decoration:underline;
                }
            }
            @media(max-width:1366px){
                margin: 0;
              }
        }
        .menuBtn-open{
            // 絕對定位STR///
            position: absolute;
            background-color: rgba(247, 245, 245, 0.9);
            top: 100px;
            right: 50px;
            z-index: 100;
            // 絕對定位END///
            padding: 50px;
            @media(max-width:414px){
                padding: 0px;
                top:50px;
                right: 40px;
            }
            p{
                font-size: 21px;
                margin: 5px;
                color:#747474;
                @media(max-width:768px){
                    font-size: 15px;
                }
                @media(max-width:414px){
                    font-size: 10px;
                }
            }
            a{
                font-size: 35px;
                text-decoration: none;
                display: block;
                padding: 10px;
                @media(max-width:768px){
                    font-size: 20px;
                }
                @media(max-width:414px){
                    font-size: 15px;
                    padding: 5px;
                }
             &:hover{
                background: gray;
                color: #38033f;
            }
            }
            .siteMap{
               a{
                   font-size: 21px;
                   @media(max-width:414px){
                    font-size: 10px;
            }
               }
            }
        }
        }

        .serch-Txt{
            font-size: 25px;
            @media(max-width:768px){
                font-size: 15px;
            }
            @media(max-width:414px){
                font-size: 10px;
            }
        }
        .fa-envelope{
          display: none;

        }
}
.banner{
    .swiper-container {
        max-width: 100%;
        /*在 小於 1366px 時變更樣式*/
        @media(max-width:1366px){
          width:100%;
            height: auto;
            img{ 
                width:100%;
            }
          }   
      }
}
.mainMenu{
    li{
        display: flex;
        justify-content:space-around;
        margin: 96px 50px 0px 50px;
        @media(max-width:1366px){
            justify-content:start;
            margin-left: 3%;
          }
          @media(max-width:768px){
            margin-top: 5%;
          }
          @media(max-width:414px){
            flex-wrap:wrap;
            margin: 5px;
          }   
        a{  
            display: block;
            color: #000;
            font-size: 28px;
            font-weight:bold;
            text-decoration: none;
            margin-right: 1%;
            @media(max-width:1366px){
                font-size: 21px;
              }
            @media(max-width:1024px){
                font-size: 16px;
              }
            @media(max-width:768px){
                font-size: 12px;
              }
            @media(max-width:414px){
                margin: 5px;
              }                             
            &:hover{
                text-decoration:underline;
            }
        }
    }             

}
.productBox1{
    margin-top: 110px;
    @media(max-width:414px){
        margin-top: 20px;
      }
    .productBox1_title{
        margin-left: 35%;
        display: flex;
        font-size: 60px;
        color: #e71e4c;
        @media(max-width:768px){
            margin:0px;
            margin-left: 150px;
          }
        @media(max-width:414px){
            font-size: 30px;
            margin-left: 5%;
          } 
        h1{
            margin-right: 30px;
        }
    }
    p{
        margin-top: 34px;
        font-size: 30px;
        color: #757374;
        text-align: center;
        line-height: 50px;
        @media(max-width:414px){
            font-size: 12px;
            line-height: 20px;
            text-align: left;
            margin-left: 10px;
          }
    }
    .productPic{
      ul{
        display: flex;
        justify-content:space-around;
        margin-top: 83px;
        flex-wrap:wrap;
        /// 圖片放大轉場STR///
        overflow: hidden;
        img{
                  /// 圖片放大轉場STR///
          position: relative;
          transition: transform 1s ease;
          &:hover{
                  /// 圖片放大轉場STR///
            top: -30px;
            transform: scale(1.4);
            -ms-transform: scale(1.4);
            -webkit-transform: scale(1.4);
                  /// 圖片放大轉場END///
          }
        }
        @media(max-width:414px){
            margin-top: 20px;
              }
        }
     }
}
.productBox2{
    margin-top: 110px;
    @media(max-width:414px){
        margin-top: 30px;
      }
    .productBox2_title{
        margin-left: 35%;
        display: flex;
        font-size: 60px;
        color: #e71e4c;
        @media(max-width:414px){
            font-size: 30px;
            margin-left: 10%;
          }
        h2{
            margin-right: 38px;
        }
    }
    p{
        margin-top: 34px;
        font-size: 30px;
        color: #757374;
        text-align: center;
        line-height: 50px;
        @media(max-width:414px){
            font-size: 15px;
            line-height: 20px;
            margin-top: 20px;
            text-align: left;
            margin-left: 10px;
          }
    }
    .productPic{
        background-image:url(../img/product_Pic6.png);
        max-width: 100%;
        height: 714px;
        margin-top: 60px;
    @media(max-width:1366px){
        max-width: 100%;
        }
    @media(max-width:414px){
        margin-top: 20px;
        background-image:url(../img/product_Pic6@375.png);
        background-repeat: no-repeat;  
        height: 139px;
        }
    }
}
.productBox3{
    margin-top: 60px;
    display: flex;
    @media(max-width:768px){
        margin-top: 30px;
        flex-direction: column-reverse;
      }
    .productMain{
        background-color: #ef8682;
        display: block;
        width: 100%;
        padding-top: 200px;
        @media(max-width:1366px){
            margin-top: 0px;
            padding-top: 50px;
          }
          @media(max-width:768px){
            padding-top: 10px;
            width: 768px;
          } 
          @media(max-width:414px){
            width: 375px;
          }   
    }
    .productBox3_title{
        padding-left: 70px;
        display: flex;
        font-size: 60px;
        color: #e71e4c;
        @media(max-width:414px){
            font-size: 30px;
          }  
        h2{
            margin-right: 38px;
        }
    }
    p{
        margin-top: 34px;
        padding-left: 35px;
        padding-right: 35px;
        font-size: 30px;
        color: #757374;
        line-height: 50px;
        @media(max-width:414px){
            margin-top: 10px;
            padding-left: 0px;
            font-size: 15px;
            line-height: 20px;
            margin-left: 10px;
          }  
    }
    .productPic{
        background-image:url(../img/product_Pic7.png);
        background-repeat:no-repeat;
        width: 960px;
        height: 690px;
        @media(max-width:1366px){
          width: 683px;
        }
        @media(max-width:1024px){
          width: 512px;
        }
        @media(max-width:768px){
            width: 768px;
            height: 388px;
          }
          @media(max-width:414px){
            background-image:url(../img/product_Pic7@375.png);
            width: 375px;
            height: 271px;
          }    
    }
}
.productBox4{
    display: flex;
    @media(max-width:768px){
        flex-direction: column;
        margin-top: 10px;
      }
    .productMain{
        background-color: #ef8682;
        width: 960px;
        padding-top: 177px;
        @media(max-width:1366px){
            padding-top: 0px;
          }
          @media(max-width:768px){
            width: 768px;
            padding-top: 20px;
          }
          @media(max-width:414px){
            width: 375px;
          }   
    }
    .productBox4_title{
        padding-left: 63px;
        display: flex;
        font-size: 60px;
        color: #e71e4c;
        @media(max-width:414px){
            font-size: 30px;
          }   
        h2{
            padding-left: 63px;
            margin-right: 38px;
            @media(max-width:1024px){
                padding-left: 0;
              }
        }
    }
    p{
        margin-top: 34px;
        padding-left: 125px;
        font-size: 30px;
        color: #757374;
        line-height: 50px;
        @media(max-width:1024px){
            padding-left: 50px;
          }
        @media(max-width:414px){
            margin-top: 10px;
            padding-left: 0px;
            font-size: 15px;
            line-height: 20px;
            margin-left: 10px;
          } 
        
    }
    .productPic{
        background-image:url(../img/product_Pic8.png);
        background-repeat:no-repeat;
        background-size: 100% 100%;
        width: 948px;
        height: 687px;
        @media(max-width:1366px){
          width: 683px;
        }
        @media(max-width:1024px){
          width: 512px;
        }
        @media(max-width:768px){
            width: 768px;
            height: 388px;
          }
        @media(max-width:414px){
            background-image:url(../img/product_Pic8@375.png);
            width: 375px;
            height: 271px;
          }  
    }
}
.productBox5{
    margin-top: 60px;
    display: flex;
    @media(max-width:768px){
        margin-top: 30px;
        flex-direction: column-reverse;
      }
    .productMain{
        background-color: #ef8682;
        width: 960px;
        padding-top: 200px;
        @media(max-width:1366px){
            margin-top: 0px;
            padding-top: 50px;
          }
          @media(max-width:768px){
            padding-top: 10px;
            width: 768px;
          } 
          @media(max-width:414px){
            width: 375px;
          }   
    }
    .productBox5_title{
        padding-left: 70px;
        display: flex;
        font-size: 60px;
        color: #e71e4c;
        @media(max-width:414px){
            font-size: 30px;
          }  
        h2{
            margin-right: 38px;
        }
    }
    p{
        margin-top: 34px;
        padding-left: 70px;
        font-size: 30px;
        color: #757374;
        line-height: 50px;
        @media(max-width:414px){
            margin-top: 10px;
            padding-left: 0px;
            font-size: 15px;
            line-height: 20px;
            margin-left: 10px;
          }  
    }
    .productPic{
        background-image:url(../img/product_Pic9.png);
        background-repeat:no-repeat;
        width: 960px;
        height: 690px;
        @media(max-width:1366px){
          width: 683px;
        }
        @media(max-width:1024px){
          width: 512px;
        }
        @media(max-width:768px){
            width: 768px;
            height: 388px;
          }
          @media(max-width:414px){
            background-image:url(../img/product_Pic9@375.png);
            width: 375px;
            height: 271px;
          }    
    }
}
.productBox6{
    margin-top: 60px;
    display: flex;
    @media(max-width:768px){
        margin-top: 30px;
        flex-direction: column;
      }
    .productMain{
        background-color: #ef8682;
        width: 960px;
        padding-top: 200px;
        @media(max-width:1366px){
            margin-top: 0px;
            padding-top: 50px;
          }
          @media(max-width:768px){
            padding-top: 10px;
            width: 768px;
          } 
          @media(max-width:414px){
            width: 375px;
          }   
    }
    .productBox6_title{
        padding-left: 70px;
        display: flex;
        font-size: 60px;
        color: #e71e4c;
        @media(max-width:414px){
            font-size: 30px;
          }  
        h2{
            margin-right: 38px;
        }
    }
    p{
        margin-top: 34px;
        padding-left: 70px;
        font-size: 30px;
        color: #757374;
        line-height: 50px;
        @media(max-width:414px){
            margin-top: 10px;
            padding-left: 0px;
            font-size: 15px;
            line-height: 20px;
            margin-left: 10px;
          }  
    }
    .productPic{
        background-image:url(../img/product_Pic10.png);
        background-repeat:no-repeat;
        width: 960px;
        height: 680px;
        @media(max-width:1366px){
          width: 683px;
        }
        @media(max-width:1024px){
          width: 512px;
        }
        @media(max-width:768px){
            width: 768px;
            height: 388px;
          }
          @media(max-width:414px){
            background-image:url(../img/product_Pic10@375.png);
            width: 375px;
            height: 208px;
          }    
    }
}
.productBox7{
    margin-top: 50px;
    @media(max-width:414px){
        margin-top: 15px;
      }
    .productBox7_title{
        margin-left: 35%;
        display: flex;
        font-size: 60px;
        color: #e71e4c;
        @media(max-width:768px){
            margin-left: 20%;
        }
        @media(max-width:414px){
            margin-left: 10%;
            font-size: 25px;
          }
        h2{
            margin-right: 38px;
        }
    }
    p{
        margin-top: 34px;
        font-size: 30px;
        color: #757374;
        text-align: center;
        line-height: 50px;
        @media(max-width:414px){
            margin-top: 10px;
            font-size: 15px;
            text-align: left;
            line-height: 25px;
            margin-left: 10px;
          }
    }
    .productPic{
        background-image:url(../img/product_Pic11.png);
        max-width: 1920px;
        height: 714px;
        margin-top: 47px;
        @media(max-width:768px){
            background-image:url(../img/product_Pic11@768.png);
            background-repeat: no-repeat;
            height: 289px;
        @media(max-width:414px){
            margin-top: 10px;
              }
        }
    }
}
.productBox8{
    margin-top: 55px;
    display: flex;
    @media(max-width:414px){
        flex-direction: column;
        margin-top: 10px;
    }
    .productPic{
        position: relative;
        background-image:url(../img/product_Pic12.png);
        width: 1920px;
        height: 578px;
        @media(max-width:1024px){
            background-image:url(../img/product_Pic12@1024.png);
            height: 328px;
        }
        @media(max-width:768px){
            background-image:url(../img/product_Pic12@768.png);
            background-repeat: no-repeat;
            width: 768px;
            height: 244px;
        }
        @media(max-width:414px){
            background-image:url(../img/product_Pic12@414.png);
            width: 375px;
            height: 360px;
        }
    }
    .productBox8_main{
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: rgba(#3e3f41,0.8);
        padding: 50px 169px 0px 169px;
        @media(max-width:1366px){
            width: 385px;
            padding: 0px 150px 99px 20px;
          }
        @media(max-width:1024px){
            padding: 0px;
            padding-left: 100px;
            height: 328px;
            width: 30%;
          }
          @media(max-width:768px){
            height: 244px;
            margin-right: 0px;
            padding-left: 50px;
            padding-right: 80px;
        } 
          @media(max-width:414px){
            background-color: black;
            width: 245px;
            top: 132px;
            z-index: -1;
        }
        .productBox8_title{
            display: flex;
            @media(max-width:1024px){
              margin-top: 0px;
              margin-right: 90px;
            }
            a{
              padding-top: 25px;
            }
              h2{
                color: #e71e4c;
                font-size: 60px;
                margin-right: 46px;
                @media(max-width:1024px){
                  margin: 0 auto;
                  padding-top: 20px;
                  padding-right: 10px;
                  font-size: 35px;
                  }                              
            }
        }
        h3{
            font-size: 30px;
            color:#ffff;
            margin-top: 47px;
            @media(max-width:1024px){
              margin: 0 auto;
              font-size: 25px;
            }
            @media(max-width:768px){
              margin-top: 10px;
              font-size: 20px;
            }               
            @media(max-width:414px){
                font-size: 20px;
                margin-top: 0px;
              }
        }
        ul {
          margin-left: 35px;
          margin-bottom: 190px;
          @media(max-width:1366px){
            margin-bottom: 140px;
          }
          @media(max-width:1024px){
              margin:0 auto;
              padding-left: 35px;
            }
          @media(max-width:414px){
              margin-bottom: 0px;
            }
          li{
          margin-top: 20px;
          font-size: 30px;
          color: #ffff;
          line-height: 20px;
          list-style:square;
          @media(max-width:768px){
            line-height: 5px;
            font-size: 20px;
          }         
          @media(max-width:414px){
              font-size: 20px;
            }
      }
  }
    }

}
.productBox9{
    margin-top: 40px;
    .productBox1_title{
        margin-left: 815px;
        display: flex;
        font-size: 60px;
        color: #e71e4c;
        @media(max-width:1366px){
            margin: 0 auto;
            padding-left: 40%;
          }
          @media(max-width:414px){
            flex-direction: column;
            margin: 0px;
            padding-left: 120px;
          }
        h2{
            margin-right: 38px;
        }
    }
    p{
        margin-top: 30px;
        font-size: 30px;
        color: #757374;
        text-align: center;
        line-height: 50px;
    }
    .productPic ul{
        display: flex;
        justify-content:start;
        margin-left: 640px;
        margin-top: 53px;
        @media(max-width:1366px){
            margin-left: 300px;
          }
          @media(max-width:1024px){
            font-size: 30px;
            margin-left: 200px;
          }
          @media(max-width:768px){
            margin-left: 50px;
          }
          @media(max-width:414px){
            flex-direction: column;
            margin-left: 30px;
          }
        li{
            margin-right: 46px;
            text-align: center;
            font-size: 31px;
            line-height: 60px;
        }
    }
}
.footer{
    background: #ba000d;
    margin-top: 50px;
    h2{
        padding-top: 68px;
        font-size: 73px;
        color: #ffff;
        text-align: center;
        padding-left: 50px;
        @media(max-width:768px){
            font-size: 50px;
            padding-top: 10px;
          }
          @media(max-width:414px){
            font-size: 30px;
          }
    }
    .footer_main{
        color: #ffff;
        font-size: 40px;
        text-align: center;
        margin-top: 40px;
        @media(max-width:768px){
            font-size: 20px;
            margin-top: 10px;
          }
        @media(max-width:414px){
            text-align: left;
            margin-left: 10px;
          }
    }
        .footer_contact{
            display: block;
            background: #ffff;
            font-size: 30px;
            width: 242px;
            height: 44px;
            color: #ba000d;
            font-weight:bold;
            margin: 0 auto;
            margin-top: 40px;
            text-decoration: none;
            text-align: center;
            padding-top: 22px;
            @media(max-width:768px){
                font-size: 20px;
                width: 150px;
                height: 25px;
                padding-top: 0px;
              }
            @media(max-width:414px){
                margin: 0 auto;
              }
        }
    .footer_logo{
        display: flex;
        justify-content:center;
        padding-bottom: 50px;
        @media(max-width:414px){
            flex-direction: column;
            margin-top: 10px;
          }
        .footer_logo1{
            background: url(../img/logo_1.png);
            width: 189px;
            height: 96px;
            @media(max-width:1024px){
                margin-left: 20px;
              }
              @media(max-width:414px){
                margin: 0 auto;
              }
        }
        .footer_logo_main1{
            text-align: left;
            color: #ffff;
            margin: 15px 120px 0px;
            font-size: 16px;
        }
        .footer_logo_main2{
            text-align: left;
            color: #ffff;
            margin-left: 73px;
            font-size: 20px;
        }
        .footer_logo2{
            background: url(../img/logo_2.png);
            width: 250px;
            height: 96px;
            @media(max-width:1024px){
                margin-right: 20px;
              }
              @media(max-width:414px){
                margin: 0 auto;
                margin-top: 10px;
              }
        }
    }
}
.top{
    position: static;
  a{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(#3e3f41,0.5);
    color: #ffff;
    font-size: 12px;
    padding: 5px;
    border-radius:999em;
    text-decoration: none;
  }
}
